<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="generator" content="Eleventy" />
    <meta name="theme-color" content="#008800" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="{{ page.fileSlug }}" />
    <link rel="canonical" href="https://kucia.net/" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>

<body>
    <div id="dokuwiki__site">
        <div id="dokuwiki__top" class="site dokuwiki mode_show tpl_dokuwiki loggedIn  home showSidebar hasSidebar">
            <header id="dokuwiki__header">
                <div class="pad group">
                    <div class="headings group">
                        <h1 class="logo"><a href="{{ this.page.url }}" accesskey="h" title="{{ this.page.fileSlug }}">
                            <img src="/logo.png" width="64" height="64" alt="" />
                            <span>Matt Kucia</span></a>
                        </h1>
                        {# <p class="claim">Impossible is easy</p> #}
                    </div>
                    <div class="breadcrumbs">
                        <div class="trace">
                            <span class="bchead">Trace:</span>
                            <span class="bcsep">•</span>
                            <span class="curid"><bdi><a href="{{ page.url }}" class="breadcrumbs" title="start">Welcome to my wiki</a></bdi></span>
                        </div>
                    </div>
                    <hr class="a11y" />
                </div>
            </header>
            <div class="wrapper group">
                <nav id="dokuwiki__aside" aria-label="Sidebar">
                    <div class="pad aside include group">
                        <div class="content">
                            <div class="group">
                                <ul>
                                    <li class="level1">
                                        <div class="li"> <a href="/" class="wikilink1" title="start" data-wiki-id="start">Start</a></div>
                                    </li>
                                    <li class="level1">
                                        <div class="li"> <strong><a href="/projects" class="wikilink1" title="projects" data-wiki-id="projects">Projects</a></strong></div>
                                    </li>
                                    <li class="level1">
                                        <div class="li"> <a href="/pl" class="wikilink1" title="pl:start" data-wiki-id="pl:start">Old Polish section</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <main id="dokuwiki__content">
                    <div class="pad group">
                        <div class="pageId"><span>{{ page.filePathStem }}</span></div>
                        <div class="page group">
                            {{ content | safe }}
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>

</html>